html {
  position: relative;
  min-height: 100%;
}
/* div {
  border: 1px solid crimson;
} */
.container {
  margin: 3%;
}
h1,
h2,
h6 {
  color: white;
}
h3 {
  font-size: 4em;
}
.second {
  background-color: lightgray;
  border-radius: 5px;
}
footer {
  height: 4em;
}
